*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
}
/* MENU */
div.nav{
    z-index: 999;
    position: fixed;
    background-color: rgb(0,0,0);
    width: 100%;
    }
    div.nav header{
    /* width: 1700px; */
    margin:0 auto;
    /* max-width: 100%; */
    display: flex;
    padding: 0px 55px;
    height: 70px; /* chiều cao của div.nav đến section ảnh*/ 
    }
    div.nav div.logo{
    width: 25%;
    padding: 20px 0px;
    }
    div.nav div.menu{
    width: 75%;
    }
    div.nav div.logo > a >img{
    width: 100%;
    }
    div.nav .menu > ul{
      list-style-type: none;
      display: flex;
      width: 100%;
    }
    div.nav .menu > ul > li.item {
    padding: 25px;
    padding-top: 10px;
    }
    div.nav .menu > ul > li.item >a{
      color: #999;
      text-decoration: none;
      font-size: 15px;
    }
    div.nav hr{
    position: relative;
    z-index: 999;
    background: white;
    margin-top: 0;
    }
    div.nav .phone > a > span > img{
      width: 4%;
    }
    div.nav .phone {
      padding-top: 20px;
      text-align: center;
    }
    div.nav .phone > a {
      padding: 3px;
    }
    div.nav .phone > a > img{
      width: 7%;
    }
    /* MENU HIDDEN */
    div.nav div.dropmenu{
      visibility: hidden;
      transform: translateY(-20px);
      transition: opacity 0.5s ease,transform 0.5s ease; 
      opacity: 0;
      position: absolute;
      background-color:rgb(58, 55, 55);
      left: 0;
      right: 0;
      transition-duration: 0.8s; /* thời gian diễn ra hiệu ứng*/
    }
    div.nav .item:hover .dropmenu{
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    div.nav div.dropmenu-sub{
      height: 275px;
      width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
    div.nav div.menu-group{
      float: left;
      width: 25%;
    }
    div.nav h3 > a:hover{
      color: white;
    }
    div.nav a:hover{
      color:#999;
      text-decoration-color: white;
    }
    div.nav a{
      font-size: 13px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      color: #999;
      text-decoration: none;
    }
    div.nav h3 > a{
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
    div.nav ul > ul > li{
      padding: 8px 10px;
    }
    div.nav ul{
      list-style-type: none;
    }
    /* CSS HOVER MENU */
    .btn {
    line-height: 35px; /* chiều cao giữa 2 border và text*/
    text-transform:uppercase; /*kiểu chữ */
    }
    .btn-2 {
      letter-spacing: 3px; /*khoảng cách của chữ trước khi hover*/
    }
    .btn-2.color-green:hover,
    .btn-2.color-green:active {
    color: white; /*Màu sản phẩm*/
    }
    .btn-2:hover,
    .btn-2:active {
    letter-spacing: 3.5px; /*khoảng cách của chữ sau khi hover*/
    }
    .btn-2:after,
    .btn-2:before {
    backface-visibility:visible;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 300ms ease-in-out;  /*độ trễ của hiệu ứng menu*/
    width: 0;
    opacity: 0;
    }
    .btn-2.color-green:after,
    .btn-2.color-green:before {
    border: 1px solid white;
    }
    .btn-2:hover:after,
    .btn-2:hover:before {
    backface-visibility: hidden;
    transition: width 350ms ease-in-out;
    width: 70%;
    opacity: 1;
    }

    /* first*/
  first{
    padding-top: 70px;
  }
  hr{
    position: relative;
    z-index: 1;
    background:#444343 !important;
    margin-top: 0;
    }

  div.box-main{
  background-color: #111111;
  height: 350px;
}
 div.box-text h1{
    font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase !important;
}
div.box-text h2{
  font-size: 30px;
  margin: 30px;
  text-align: center;
}
div.main{
    width: 100%;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
div.box-text{
    text-align: left;
    max-width: 986px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
}

/* CONTENT */
content{
    color: black !important;
}
div.hr{
    height: auto;
}
div.hr > div{
    margin-bottom: 10px;
    width: 20%;
    border: 2px solid;
}
div.hr > h1{
    margin-bottom: 0;
    font-family: monospace;
    font-style: italic;
}
div.color{
    background-color: #363636;
    height: 20px;
    margin-bottom: 5px;
}

/* NAV */
nav.main{
    width: 100%;
    display: flex;
}
div.left ul{
    margin: 5px;
}
div.left ul > li{
    list-style-type: none;
}
h4{
    padding-left: 10px;
    margin: 2px;
}
ul > li > span {
    font-weight: bold;
}
div.left{
    width: 30%;
    border: 1px solid rgb(16, 15, 17);
    padding: 5px;
}
div.left > img {
    width: 100%;
}
div.left button[type=button]{
    background-color: orange;
    color: #fff;
    padding: 10px;
    border: 1px solid orange;
  }
.botton{
    text-align: center;
    margin: 10px;
  }
  a.ggform{
      text-decoration: none;
      color: #fff;
  }
 div.right{
    width: 60%;
    padding: 30px;
}
div.right > h2{
    text-align: center;
    text-shadow: 3px 1px 3px rgb(26, 23, 22) ;
}
/* SECTION */
section.fbzone{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    background-color: #363636;
    border-radius: 5px 5px;   
}
div.my-feedback{
    display: flex;
}
div.feedback{
    width: 33%;
    padding: 5px;
    margin: 5px;   
}
div.feedback > img{
    position: relative;
   left: 90px;
    border-radius: 50%;
}
div.feedback > h5{
    text-align: center;
    margin: 0;
    color: #fff;
}
div.feedback > p{
    color:white;
}
div.space{
    height: 10px;
}
/* FOOTER */
footer{
    padding: 30px;
    background-color: rgb(10, 11, 12);
    padding-top: 0px;
  }
 footer h1{
    display: block;
    position: relative;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif; 
    }
  footer ul{
    list-style-type: none;
  }
  .logofooter{
    width: 10%;
  }
  .logofooter > img{
    width: 100%;
    
  }
  a.linkcolor{
    color: rgb(156, 183, 233);
  }
  div.menufooter{
    display: flex;
    padding: 5px;
    width: 100%;
  }
  div.col25{
    width: 25%;
  }
  div.col25{
    width: 25%;
  }
  div.col50{
    width: 50%;
  }
  /* TABLE FOOTER */
  table.content{
    width: 100%;
  }
  input[type=text]{
    width: 100%;
    padding: 10px;
  }
  textarea{
    width: 100%;
    padding: 10px;
    height: 100px;
  }
  button[type=button]{
    background-color: orange;
    color: #fff;
    padding: 15px;
    border: 1px solid orange;
  }
  .button{
    text-align: right;
  }
  table.content tr:last-child{
    text-align: right;
  }